<div class="col-main-body">
  <div class="row-line-item text-medium">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-6 selection-fields">
      {{credit-card model=currentCard}}
    </div>
  </div>
  <div class="row-line-item bottom-border text-medium">
    <h4 class="upcase">order summary</h4>
  </div>
  {{#each model.lineItems as |lineItem|}}
    {{line-item model=lineItem}}
  {{/each}}
  <div class="row-line-item bottom-border text-medium">
    <div class="checkout">
      <span class="upcase">shipping</span>
      <span class="price">{{model.displayShipTotal}}</span>
    </div>
    <div class="checkout">
      <span class="upcase">total</span>
      <span class="price">{{model.displayTotal}}</span>
    </div>
  </div>
  <div class="row-line-item text-medium">
    <button {{action "submitOrder" currentCard model}} class="btn btn-black left">place order</button>
  </div>
</div>
