<div class="col-sm-4 right-border">
  <h4 class="upcase">Shipment</h4>
  {{#each model.shippingRates as |shippingRate|}}
    <div class="custom-features-line">
      {{radio-button name=radioName classNames="left" value=shippingRate checked=model.selectedShippingRate}}
      <span class="name interactible">{{shippingRate.name}}</span>
      <span class="price right">{{shippingRate.displayCost}}</span>
    </div>
  {{/each}}
</div>
<div class="col-sm-8">
  <h4 class="upcase">Manifest</h4>
  {{#each lineItems as |item|}}
    <div class="custom-features-line">
      <span class="name">{{item.name}}</span>
      <span class="right">Quantity: {{item.quantity}}</span>
    </div>
  {{/each}}
</div>
