<div class="catalogue-row">
  <div class="col-main-body catalogue-section-title">
    <h3 class="upcase">{{category}}</h3>
  </div>
</div>
{{#each types as |type|}}
  <div class="catalogue-row">
    <div class="col-main-body">
      <div class="catalogue-section-title">
        <span class="upcase">{{type.name}}</span>
      </div>
      <div class="catalogue-tiles col-sm-12 no-padding">
        {{#each type.items as |item|}}
          {{#link-to "product" item tagName="div" classNames="item-tile col-sm-3"}}
            <img src="{{item.catalogue_image}}" alt="loading..." class="img-responsive" />
            <h3 class="capitalize">{{item.name}}</h3>
            <span class="price">${{item.price}}</span>
            <span class="gray capitalize">{{item.tagline}}</span>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
