<div data-hook="admin_variant_form_fields" class="label-block left six columns alpha">
  <div data-hook="variants">
    <div class="form-group" data-hook="option-values">
      <%= f.field_container :option_values do %>
        <%= f.label :option_value_ids, Spree.t(:options) %>
        <%= f.collection_select :option_value_ids, @product.option_values, :id, :name, {selected: @variant.option_value_ids}, {multiple: true} %>
      <% end %>
      <script>$('#variant_option_value_ids').select2();</script>
    </div>

    <div class="field" data-hook="price">
      <%= f.label :price, Spree.t(:price) %>
      <%= f.text_field :price, :value => number_to_currency(@variant.price, :unit => ''), :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="cost_price">
      <%= f.label :cost_price, Spree.t(:cost_price) %>
      <%= f.text_field :cost_price, :value => number_to_currency(@variant.cost_price, :unit => ''), :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="tax_category">
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
    </div>

    <div class="field" data-hook="instock_description">
      <%= f.label :instock_description, Spree.t(:description) %>
      <%= f.text_field :instock_description, :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="instock_name">
      <%= f.label :instock_name, Spree.t(:name) %>
      <%= f.text_field :instock_name, :class => 'fullwidth' %>
    </div>
  </div>
</div>

<div class="right six columns omega label-block" data-hook="admin_variant_form_additional_fields">
  <%= f.fields_for :variant_colors do |ff| %>
    <%= ff.label :color_value_id, Spree.t(ff.object.name) %>
    <%= ff.collection_select :color_value_id, ff.object.color_values, :id, :name, {selected: ff.object.color_value_id}, {id: "variant_color_#{ff.object.id}"} %>
    <script>$('#variant_color_<%=ff.object.id%>').select2();</script>
  <% end %>
</div>

<div class="clear"></div>