<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_color_type) %> <span class="green">"<%= @color_type.name %>"</span>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_color_types_list), spree.admin_color_types_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @color_type } %>

<%= form_for [:admin, @color_type] do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t(:colors) %></legend>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="twelve columns alpha omega">
      <div data-hook="admin_color_types_form_color_values">
        <%= f.field_container :color_values do %>
          <%= f.label :color_value_ids, Spree.t(:colors) %>
          <%= f.hidden_field :color_value_ids, :value => @color_type.color_value_ids.join(',') %>
        <% end %>
        <button class="fa fa-refresh button" name="add-all-colors">Add all available colors</button>
      </div>
    </div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>