{{#if hasProduct}}
  {{#if hasManyMocks}}
    <div class="col-sm-2">
      {{#each mocks as |mock|}}
        <div {{action "setActiveMock" mock}} class="mock-thumb interactable">
          {{product-mock customItem=model mock=mock}}
        </div>
      {{/each}}
    </div>
    <div class="col-sm-10">
      {{product-mock customItem=model mock=active_mock}}
    </div>
  {{else}}
    <div class="col-sm-12">
      {{product-mock customItem=model mock=active_mock}}
    </div>
  {{/if}}
{{else}}
  {{partial "custom-index"}}
{{/if}}
