<div class="row-line-item bottom-border">
  <div class="col-sm-7 line-item">
    <div class="head">
      <span class="capitalize">{{name}}</span>
    </div>
    <div class="col-sm-3">
      {{#if model.isCustom}}
        {{render "custom-item" model.customItem}}
      {{else}}
        <img src="{{itemImage}}" alt="loading..." class="img-responsive" />
      {{/if}}
    </div>
  </div>
  <div class="col-sm-2">
    <span class="capitalize">{{model.quantity}}</span>
  </div>
  <div class="col-sm-2">
    <span class="capitalize">${{model.total}}</span>
  </div>
  <div class="col-sm-1">
    {{#unless model.orderIsComplete}}
      <span {{action "removeFromCart" model}} class="icon-x interactable"></span>
    {{/unless}}
  </div>
</div>
