<div class="col-sm-4 right-border">
  <h4 class="upcase">Shipment</h4>
  {{#each shipping_rate in model.shipping_rates}}
    <div class="custom-features-line">
      {{radio-button name=radio_name classNames="left" value=shipping_rate checked=model.selected_shipping_rate}}
      <span class="name interactible">{{shipping_rate.name}}</span>
      <span class="price right">{{shipping_rate.display_cost}}</span>
    </div>
  {{/each}}
</div>
<div class="col-sm-8">
  <h4 class="upcase">Manifest</h4>
  {{#each item in line_items}}
    <div class="custom-features-line">
      <span class="name">{{item.name}}</span>
      <span class="right">Quantity: {{item.quantity}}</span>
    </div>
  {{/each}}
</div>