<div class="col-main-body">
  <div class="col-sm-5">
    {{#each selection in color_types}}
      {{render "selected-color" selection}}
    {{/each}}
    <div class="col-sm-11 custom-field-footer">
      <div class="footer-info">
        <span class="capitalize">{{name}}</span>
        <span class="price">${{price}}</span>
      </div>
      {{#if hasProductAndColors}}
        {{#link-to "custom.features" model tagName="button" classNames="btn btn-black"}}
          continue to features
        {{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-sm-7 centered">
    {{render "custom-item" model}}
  </div>
</div>
{{partial "custom/description"}}